<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <li>이름: <%= username %></li>
      <li>성별: <%= sex %></li>
      <li>생년월일: <%= year%>년<%= month%>월<%= days%>일</li>
      <li>취미: <%= hobby %></li>
      <li>좋아하는 색상: <%= likeColor %></li>
      <li>좋아하는 숫자: <%= likeNumber %></li>
    </ul>

    <br />
    <br />
    <a href="/">go home</a>
  </body>
</html>
